{% extends "auth_base.html" %}

{% load bootstrap_tags %}
{% load i18n %}

{% block head_title %}{% blocktrans with title=proposal.title %}Editing {{ title }}{% endblocktrans %}{% endblock %}
{% block page_title %}{% trans "Edit Proposal" %}{% endblock %}

{% block body %}
    <h1>{{ proposal.title }}</h1>
    <p><a href="{% url 'proposal_speaker_manage' proposal.pk %}">{% trans "Manage speakers" %}</a></p>
    <form method="POST" action="" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        <fieldset>
            {{ form|as_bootstrap }}
        </fieldset>
        <!-- this is first aid process -->
        <style type="text/css">
            <!--
            #div_id_duration { visibility : hidden; }
            -->
        </style>
        <script type="text/javascript">
            $(function () {
                // this is first aid process
                var $id_duration = $("#id_duration");
                if ($id_duration.length === 0) return false;
                $("#div_id_duration").hide();
                $id_duration.val("1");
            });
        </script>
        <!-- this is first aid process -->

        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="{% trans "Save" %}" />
            <a class="btn" href="{% url 'proposal_detail' proposal.pk %}">{% trans "Cancel" %}</a>
        </div>
    </form>
{% endblock %}
