{% load i18n %}

{% block extra_head %}
    <style>
        th span.room {
            font-size: 130%;
            font-weight: bold;
        }
        th span.hashtag a {
            font-size: 90%;
            color: green;
        }
    </style>
{% endblock %}

<table class="calendar table table-bordered">
    <thead>
        <tr>
            <th class="time">&nbsp;</th>
            {% for room in timetable.rooms %}
                <th>
                  <span class="room">{{ room.name }}</span>
                  <span class="hashtag">
                  {% if room.name == 'Room 201' %}<a href="https://twitter.com/search?q=%23pyconjp_201" target="_blank">#pyconjp_201</a>
                  {% elif room.name == 'Room 202' %}<a href="https://twitter.com/search?q=%23pyconjp_202" target="_blank">#pyconjp_202</a>
                  {% elif room.name == 'Room 203' %}<a href="https://twitter.com/search?q=%23pyconjp_203" target="_blank">#pyconjp_203</a>
                  {% elif room.name == 'Room 204' %}<a href="https://twitter.com/search?q=%23pyconjp_204" target="_blank">#pyconjp_204</a>
                  {% elif room.name == 'Room 205' %}<a href="https://twitter.com/search?q=%23pyconjp_205" target="_blank">#pyconjp_205</a>
                  {% elif room.name == '3F ABC Room' %}<a href="https://twitter.com/search?q=%23pyconjp_3ABC" target="_blank">#pyconjp_3ABC</a>
                  {% elif room.name == '3F E Room' %}<a href="https://twitter.com/search?q=%23pyconjp_3E" target="_blank">#pyconjp_3E</a>
                  {% endif %}
                  </span>
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in timetable %}
            <tr>
                <td class="time">{{ row.time|date:"h:iA" }}</td>
                {% for slot in row.slots %}
                    <td class="slot slot-{{ slot.kind.label }}" colspan="{{ slot.colspan }}" rowspan="{{ slot.rowspan }}">
                        {% if slot.kind.label == "talk" or slot.kind.label == "tutorial" or slot.kind.label == "sponsor-tutorial" or slot.kind.label == "plenary" %}
                            {% if not slot.content %}
                            {% else %}
                                {% if slot.content.proposal.language %}
                                <span class="label label-info" title="language">{{ slot.content.proposal.language }}</span>
                                {% endif %}
                                {% if slot.content.proposal.audience_level %}
                                  <span class="label label-success" title="level">
                                    Lv{% if slot.content.proposal.audience_level == 2 %}
                                      3
                                    {% elif slot.content.proposal.audience_level == 3  %}
                                      2
                                    {% elif slot.content.proposal.audience_level == 1  %}
                                      1
                                    {% endif %}
                                  </span>
                                {% endif %}
                                <span class="title">
                                    <a href="{% url 'schedule_presentation_detail'  slot.content.pk %}" title="{{ slot.content.description|striptags|cut:"\"" }}">{{ slot.content.title }}</a>
                                </span>
                                <span class="speaker">
                                    {{ slot.content.speakers|join:", " }}
                                </span>
                                {% if slot.content.proposal.category.name %}
                                <span class="label" style="white-space: normal" title="{% trans slot.content.proposal.category.name %}">{% trans slot.content.proposal.category.name %}</span>
                                {% endif %}
                                <div class="badges">
                                    {% for session in slot.sessions.all %}
                                        <a href="{% url 'schedule_session_detail' session.id %}" class="btn btn-mini" style="margin-right: 10px" title="Session Information">S</a>
                                    {% endfor %}
                                    {% for res in slot.content.proposal.presentation_resources.all|dictsort:"type" %}
                                      <a href="{{ res.url }}"><img src="/2016/site_media/static/img/{{ res.type }}.png" alt="{{ res.type }}" title="{% trans res.get_type_display %}{% if res.label %} {{ res.label }}{% endif %}"/></a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% else %}
                            {% if slot.content_override %}
                                {{ slot.content_override|safe }}
                            {% else %}
                                {{ slot.kind.label }}
                            {% endif %}
                        {% endif %}
                    </td>
                {% endfor %}
                {% if forloop.last %}
                    <td colspan="{{ timetable.rooms|length }}"></td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
