{% extends "responsive_base.html" %}

{% load sitetree %}
{% load i18n %}

{% block body_class %}sitemap{% endblock %}

{% block head_title %}{% trans "Sitemap" %}{% endblock %}

{% block page_title %}{% trans "Sitemap" %}{% endblock %}

{% block breadcrumbs %}{% with lang=LANGUAGE_CODE|default:"en"|slice:":2" %}{% sitetree_breadcrumbs from "main-"|add:lang %}{% endwith %}{% endblock %}

{% block body %}
  {% with lang=LANGUAGE_CODE|default:"en"|slice:":2" %}
  {% sitetree_tree from "main-"|add:lang %}
  {% endwith %}
{% endblock %}
