{% extends "auth_base.html" %}

{% load bootstrap_tags %}
{% load i18n %}

{% block head_title %}{{ sponsor }}{% endblock %}

{% block page_title %}{% trans "Sponsorship" %}{% endblock %}

{% block body %}
    {% if formset.errors or form.errors  %}
        <div class="alert alert-error">
            入力情報に誤りがあります。
            文字数のオーバー、各フォーム未入力情報など各項目のチェックをお願いします。<br>
            "There was a problem in your form submission."<br>"Please check that that you filled in all required fields and that you did not exceed the character limits
            <!--      {% trans "Your sponsorship has been submitted! Thank you!" %}<br />
      {% trans "Please enter the information below at your leasure. Your submission will become active once it has been reviewed and you have uploaded an image and text for use on the website." %}-->
        </div>
    {% else %}
    {% endif %}

    <h2>{{ sponsor.name }} ({{ sponsor.level }})</h2>

    <form enctype="multipart/form-data" method="POST" action="" class="form-horizontal">
        {% csrf_token %}
        <fieldset>
            {{ form|as_bootstrap }}
        </fieldset>

        <h3>{% blocktrans %}{{ sponsor.level }} Sponsor Benefits{% endblocktrans %}</h3>

        {{ formset.management_form }}
        {{ formset.non_form_errors }}

        {% for form in formset.forms %}
            <div class="control-group">
                <label class="control-label">{{ form.instance.benefit }}</label>
                <div class="controls">
                    {{ form }}
                    <p class="help-block">{{ form.instance.benefit.description }}</p>
                </div>
            </div>
        {% endfor %}

        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="{% trans "Save" %}" />
        </div>

    </form>
{% endblock %}

{% block extra_script %}
{% endblock %}
