{% extends "site_base.html" %}

{% load compress static sitetree %}
{% load i18n %}
{% load localeurl_tags %}
{% load locale_url from localeurl_future %}

{# for non responsive #}
    {% block viewport %}{% endblock %}
    {% block extra_style %}
    <style>
    .container {
      max-width: none !important;
      width: 970px;
    }
    .container-fluid {
        min-width: 970px;
    }
    .navbar-collapse {
      display: block !important;
      height: auto !important;
      padding-bottom: 0;
      overflow: visible !important;
    }
    .navbar-toggle {
      display: none;
    }
    .navbar-brand {
      margin-left: -15px;
    }
    </style>
    {% endblock %}
{# /for non responsive #}




