{% extends "site_base.html" %}

{% load compress static sitetree %}
{% load i18n %}
{% load localeurl_tags %}
{% load locale_url from localeurl_future %}
{% block style_base %}
    {% compress css %}
        <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet" type="text/css">
    {% endcompress %}

    {% if debug %}
        <link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}less/responsive-site.less" />
        <script src="{{ STATIC_URL }}js/less-1.3.3.min.js"></script>
    {% else %}
        {% compress css %}
            <link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}less/responsive-site.less" />
        {% endcompress %}
    {% endif %}

    {% compress css %}
        {% include "markedit/includes/markedit-css.html" %}
    {% endcompress %}

    {% block extra_style %}{% endblock %}
{% endblock %}


