{% extends "auth_base.html" %}

{% load bootstrap_tags %}
{% load boxes_tags %}
{% load i18n %}

{% block head_title %}{% blocktrans with name=kind.name %}Submit a Proposal for a {{ name }}{% endblocktrans %}{% endblock %}
{% block page_title %}{% blocktrans with name=kind.name %}Submit a Proposal for a {{ name }}{% endblocktrans %}{% endblock %}

{% block body %}
    <div class="span12">
        {% box kind.slug|add:"-proposal" %}
        <form method="POST" action="" enctype="multipart/form-data" class="form-horizontal">
            {% csrf_token %}
            <fieldset>
                {{ form|as_bootstrap }}
            </fieldset>

            <!-- this is first aid process -->
            <style type="text/css">
                <!--
                #div_id_duration { visibility : hidden; }
                -->
            </style>
            <script type="text/javascript">
                $(function () {
                    // this is first aid process
                    var $id_duration = $("#id_duration");
                    if ($id_duration.length === 0) return false;
                    $("#div_id_duration").hide();
                    $id_duration.val("1");
                });
            </script>
            <!-- this is first aid process -->

            <div class="form-actions">
                <p>{% blocktrans %}
                    You will be able to edit your proposal after it has been submitted.
                    The program committee may ask questions, provide feedback,
                    and even suggest changes to your proposal as part of the review processes.
                  {% endblocktrans %}
                </p>
                <input class="btn btn-primary" type="submit" name="finish" value="{% trans "Save" %}" />
                <!-- <span style="float: right; padding: 4px 6px">or</span> -->
                <input class="btn" type="submit" name="add-speakers" value="{% trans "Save and Add Additional Speakers" %}" />
            </div>
        </form>
    </div>
{% endblock %}
