{% extends "responsive_base.html" %}

{% load i18n %}
{% load boxes_tags %}
{% load cache %}
{% load sitetree %}

{% block head_title %}{% trans "Talk Proposal Submissions" %}{% endblock %}

{% block extra_head %}
    <style>
        .page-content .box-content h3 {
            margin-top: 10px;
        }
    </style>
{% endblock %}

{% block page_title %}
    {{ schedule.section.name }}
{% endblock %}

{% block breadcrumbs %}{% with lang=LANGUAGE_CODE|default:"en"|slice:":2" %}{% sitetree_breadcrumbs from "main-"|add:lang %}{% endwith %}{% endblock %}

{% block body %}
        <h1>{% trans "Talk Proposal Submissions" %}</h1>
        <h2 style="font-size: 14px">
        {% trans "This is the list of all submitted talk proposals. Please share the talks you’re interested in attending at PyCon JP 2016 on social media using the share buttons on the talks detail page. We will take the amount of interest shown for proposals into consideration when selecting the talks." %}
        </h2>
        Category Search<select id="select_category"><option value="">---------</option></select>

        {% for proposal in proposal_accepted %}
            <div class="row presentation_box {{ proposal.p_type }}">
                <div class="span8 presentation well">
                    <h3 class="p_type">{{ proposal.p_type }}</h3>
                    <h3><a href="{% url 'proposal_vote_detail' proposal.pk %}">{{ proposal.title }}&nbsp;({{ proposal.language }})</a></h3>
                    <h4>{{ proposal.speakers|join:", " }} in <span class="category">{{ proposal.category }}</span></h4>
                    {{ proposal.description }}
                </div>
            </div>
        {% endfor %}
        <script>
            $(function(){
                var $category = $(".p_type"), $select_category = $("#select_category"), tmp_array = [];
                $category.each(function(){
                    var val = $(this).text();
                    if($.inArray(val, tmp_array) === -1){
                        $select_category.append($('<option>').html(val).val(val.replace(/\s+/g, "")));
                        tmp_array.push(val);
                    }
                });
                var $presentation_box = $(".presentation_box");
//                var url = window.location.search;
                var q_str = window.location.search.substring(1);
                function get_query_val(val){
                    var vars = q_str.split("&");
                    for (var i=0;i<vars.length;i++) {
                        var pair = vars[i].split("=");
                        if (pair[0] === val) {
                            return pair[1];
                        }
                    }
                }
//                console.log(window.location.search.substring(1));

//                console.log(get_query_val("category"));
                var category = get_query_val("category");
                function switch_category(val){
                    if(val !== ""){
                        $presentation_box.hide();
                        search_class = 'div[class^="row presentation_box ' + val.replace(/^(\w+)/gi, "$1") + '"]';
                        $(search_class).show();
                    }else {
                        $presentation_box.show();
                    }

                }
                // TODO
                if(category) {

                    switch_category(category);
                }
                $select_category.change(function(){
                    var val = $(this).val();
                    switch_category(val);
                });
            });
        </script>
{% endblock %}
