{% extends "responsive_base.html" %}

{% load account_tags %}
{% load compress %}
{% load i18n %}
{% load sitetree %}
{% block head_title %}{% trans "Vote: " %}{{ proposal.title }}{% endblock %}

{% block extra_head %}
    <script type="text/javascript">
        $(function () {
            var converter = new Attacklab.showdown.converter();

            var mdown = $('#abstract').html();
            var html = converter.makeHtml(mdown);
            $('#abstract').html(html);

            var mdown = $('#description').html();
            var html = converter.makeHtml(mdown);
            $('#description').html(html);

        });
    </script>
{% endblock %}

{% block breadcrumbs %}{% with lang=LANGUAGE_CODE|default:"en"|slice:":2" %}{% sitetree_breadcrumbs from "main-"|add:lang %}{% endwith %}{% endblock %}

{% block body %}
    <h1>{% trans "Talk Submission" %}</h1>
    <h2 style="font-size: 14px">
      {% trans "If you are interested in attending this talk at PyCon JP 2016, please use the social media share buttons below. We will consider the popularity of the proposals when making our selection." %}
    </h2>
    {% if proposal.cancelled %}
    <div style="background-color: #EEEEEE; color: #666666">
    <style>
    h2, h3, h4 { background-color: #EEEEEE; color: #666666; }
    </style>
    <h2>{% trans "This talk proposal has been cancelled." %}</h2>
    {% endif %}

    <h2>{{ proposal.p_type }}</h2>
    <h2>{{ proposal.title }}({{ proposal.language }})</h2>
    <h3>{% trans "Speakers" %}</h3>
    <h4>
        {% for speaker in proposal.speakers %}
            {{ speaker }}
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </h4>

    {% if proposal.category  %}
            <div><h3>{% trans "Audience level:" %}</h3><h4>{{ proposal.get_audience_level_display }}</h4></div>
            <div><h3>{% trans "Category:" %}</h3><h4>{{ proposal.category }}</h4></div>
    {% endif %}

    <h3>{% trans "Description" %}</h3>

    <div class="description" id="description">{{ proposal.description }}</div>

    <h3>{% trans "Objectives" %}</h3>

    <div class="description">{{ proposal.perceived_value }}</div>

    <h3>{% trans "Abstract" %}</h3>

    <div class="description" id="abstract">{{ proposal.abstract }}</div>

    {% if proposal.cancelled %}
    </div>
    {% endif %}

 {% endblock %}
