{% extends "responsive_base.html" %}

{% load i18n %}
{% load boxes_tags %}
{% load cache %}
{% load sitetree %}

{% block head_title %}トーク一覧{% endblock %}

{% block extra_head %}
    <style>
        .page-content .box-content h3 {
            margin-top: 10px;
        }
    </style>
{% endblock %}

{% block page_title %}
    {{ schedule.section.name }}
{% endblock %}

{% block breadcrumbs %}{% with lang=LANGUAGE_CODE|default:"en"|slice:":2" %}{% sitetree_breadcrumbs from "main-"|add:lang %}{% endwith %}{% endblock %}

{% block body %}
        <h1>Applied talks / 応募リスト</h1>
        <h2 style="font-size: 14px">
        This is the applied talks list. Please share talks which you want to attend at PyCon JP 2016 event. It is one of criterion  for selection.<br>
        これはトークの応募リストです。聞きたいと思うトークをSNSで拡散しましょう。選考時に参考にさせていただきます。
        </h2>
        {% for proposal in proposal_accepted %}
            <div class="row presentation_box">
                <div class="span8 presentation well">
                    <h3>{{ proposal.p_type }}</h3>
                    <h3><a href="{% url 'proposal_vote_detail' proposal.pk %}">{{ proposal.title }}&nbsp;({{ proposal.language }})</a></h3>
                    <h4>{{ proposal.speakers|join:", " }} in <span class="category">{{ proposal.category }}</span></h4>
                    {{ proposal.description }}
                </div>
            </div>
        {% endfor %}

{% endblock %}
